<ActionBar class="action-bar" backgroundColor="#242E3B">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="auto,*,auto" ios:padding="0 10" height="100%" width="100%">
        <ActionButton #actionButton></ActionButton>
        <Label col="1" text="Fil d'actualité" class="action-bar-label"></Label>
        <Image #search col="2" src="~/images/add.png" class="action-bar-icon"
            tintColor="#ffffff" (tap)="goTakePicture()"></Image>
    </GridLayout>
</ActionBar>

<GridLayout height="100%">
    <ListView #list [items]="publications">
        <ng-template let-item="item">
            <GridLayout class="list-item">
                <img src="data:image/png;base64,{{item.file}}">
                <Label [text]="item.hashtag" class="item-title"></Label>
                <Image src="~/images/likes.png" [class.item-likes]="item.isCoupDeCoeur"
                    [class.item-nolikes]="!item.isCoupDeCoeur"></Image>
            </GridLayout>
        </ng-template>
    </ListView>
    <AbsoluteLayout #animatingImageContainer opacity="0" class="animating-image-container">
        <Image #animatingImage width="100%"></Image>
    </AbsoluteLayout>
</GridLayout>